doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title #{title}
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom styles for this template
  link(href='stylesheets/small-business.css' rel='stylesheet')
// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href='#') Start Bootstrap
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') About
        li.nav-item
          a.nav-link(href='#') Services
        li.nav-item
          a.nav-link(href='#') Contact
// Page Content
.container
  // Heading Row
  .row.align-items-center.my-5
    .col-lg-7
      img.img-fluid.rounded.mb-4.mb-lg-0(src='http://placehold.it/900x400' alt='')
    // /.col-lg-8
    .col-lg-5
      h1.font-weight-light Business Name or Tagline
      p
        | This is a template that is great for small businesses. It doesn&apos;t have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
      a.btn.btn-primary(href='#') Call to Action!
    // /.col-md-4
  // /.row
  // Call to Action Well
  .card.text-white.bg-secondary.my-5.py-4.text-center
    .card-body
      p.text-white.m-0
        | This call to action card is a great place to showcase some important information or display a clever tagline!
  // Content Row
  .row
    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title Card One
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.
        .card-footer
          a.btn.btn-primary.btn-sm(href='#') More Info
    // /.col-md-4
    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title Card Two
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.
        .card-footer
          a.btn.btn-primary.btn-sm(href='#') More Info
    // /.col-md-4
    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title Card Three
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.
        .card-footer
          a.btn.btn-primary.btn-sm(href='#') More Info
    // /.col-md-4
  // /.row
// /.container
// Footer
footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Copyright &copy; Your Website 2020
  // /.container
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
